{% extends 'base.html' %}
{% block content %}
<div id="content">
  {% if context.created %}
  <h2>Success</h2>
  <a href="/education/programm?category_id={{ context.created }}" class="categories-link">Back</a>
  {% else %}
  <form action="" method="post" id="category-form">
    <div class="category-form-item">
      <label class="category-form-label" for="category">Category: {{ context.category.title }}</label>
      <input class="category-form-input" type="text" name="category_id" id="category" value="{{ context.category.id }}" hidden="hidden">
    </div>
    <div class="category-form-item">
      <label class="category-form-label" for="title">Title: </label>
      <input class="category-form-input" type="text" name="title" id="title" required="required">
    </div>
    <div class="category-form-item">
      <label class="category-form-label" for="description">Description: </label>
      <input class="category-form-input" type="text" name="description" id="description" required="required">
    </div>
    <div class="category-form-item">
        <label class="category-form-label" for="kind">Kind of course: </label>
        <select class="category-form-input" name="cls" id="kind">
            {% for kind in context.kinds %}
            <option value="{{ kind.__name__ }}">{{ kind.get_kind() }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="category-form-item">
      <label class="category-form-label" for="info">Additional info: </label>
      <input class="category-form-input" type="text" name="info" id="info" required="required">
    </div>
    <input type="submit" value="Add course" class="categories-link category-form-submit">
  </form>
  {% endif %}
</div>
{% endblock %}