{% extends 'base.html' %}
{% block content %}
<div id="content">
  <h1>Welcome to our education</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam amet animi architecto doloremque
        dolorum earum, facilis fuga illo incidunt inventore ipsa itaque modi mollitia natus, odio odit quis
        quo rem suscipit ullam, vel veritatis. Adipisci ex magnam nobis! Aliquam culpa, est, eveniet fuga
        impedit laboriosam maiores nihil numquam perferendis saepe, sint tempore veniam! Assumenda deleniti
        dignissimos distinctio eaque eius est eum exercitationem illum laudantium maiores molestias mollitia
        nemo quisquam recusandae repudiandae sed, sit tempore, temporibus totam ullam vel veritatis vero?
        Aliquid at cumque harum inventore officia porro possimus reprehenderit tempore? Alias aut beatae,
        consequuntur dolore dolores earum eius fugiat incidunt laudantium, modi nisi nobis placeat quam
        quisquam repellendus repudiandae sunt, voluptate. Esse, laudantium nihil. Consectetur dicta error
        maiores possimus recusandae? Consequuntur cumque delectus in minus nostrum recusandae vitae! Architecto
        aspernatur culpa cupiditate deleniti dicta distinctio enim et eum fugiat id incidunt laudantium maxime
        nam, nobis officiis optio quae, quo, ratione repudiandae saepe. Aliquid amet architecto at beatae
        consequatur delectus distinctio doloremque doloribus dolorum earum error esse eum, exercitationem
        facere facilis fuga fugiat fugit id ipsum itaque iure, laboriosam minima minus modi nam natus officiis
        mortale.
    </p>
    <br>
    <a href="/education" class="button">View programm</a>
</div>
{% endblock %}