{% extends 'base.html' %}
{% block content %}
<div id="content">
  <h1>Welcome to light Everscale blockchain browser</h1>
  <br>
  <p>Everscale is a scalable smart contract-based platform that is able to process 100k+ transactions per second, with
    sharding, dynamic multithreading, and low gas costs.
  </p>
  <br>
  <p>
    Everscale aims to become the backbone for high-load applications
    with real use cases, as well as to be a hub connecting all popular blockchains together.Its fast-growing ecosystem
    includes all kinds of dApps: exchanges, bridges, non-custodial wallets, and GameFi applications.
  </p>
  <br>
  <p>You can find information about specified address on <a href="/address">Address info</a> page</p>
  <br>
  <p>
    Everscale is a fast-growing ecosystem with a lot of investment and farming opportunities. All tokens are in
    circulation, the whole supply is released.
  </p>
  <br>
  <p>
    Those who want to invest in an ecosystem with a potential, comparable to the likes of Solana or Avalanche, still can
    get in and then stake their tokens in DePools, getting a steady interest for locking their stake.
  </p>
  <br>
  <p><b>Note:</b> This site created as study project.</p>
</div>
{% endblock %}